/*HEADER*/
header{
  position:relative!important;
}


/*BACKGROUNDS*/
.bg-blue{
	background-color:#57c8f2;
}
.bg-white{
	background-color: #fff;
}
.bg-black{
	background-color: #000;
}

/*PADDING*/
.padding-b-20{
	padding-bottom: 20px;
}

.padding-t-30{
	padding-top:30px;
}

.clear{
	clear: both;
}

/*MARGINS*/
.margin-b-0{
	margin-bottom:0px;
}

/*HEIGHT*/
.height-70{
	height:70px;
}

/*NO BORDERS*/
.no-border{
  border:none;
}

/*COLORS*/
.text-white{
	color:#fff;
}

.navbar-default .navbar-nav li a,
.navbar-default .navbar-brand{
  color:#fff;
}